<ui-nav>
  <img src="https://raw.githubusercontent.com/mahcr/angular-elements/master/example-assets/ng-horizontal.png" slot="logo-angular" />
  <img src="https://raw.githubusercontent.com/mahcr/angular-elements/master/example-assets/gdg-pv.png" slot="logo-gdg" />
</ui-nav>

<h1>Hola - I'm Angular app</h1>

<main>

  <ui-socialcard *ngFor="let profile of list"
    [name]="profile.name"
    [url]="profile.url"
    [twitter]="profile?.twitter"
    [instagram]="profile.instagram"
  ></ui-socialcard>
</main>


<ui-footer></ui-footer>
